{{#each this}}
<li class="team-member">
    <img src="{{image}}" alt={{name}} class="member-pic">
    <h2 class="member-name">{{name}}</h2> 
    <p class="member-position">{{position}}</p>
    <a class="member-email" href="mailto:{{email}}">contact</a>
</li>
{{/each}}