{{#each this}}
<li class="trend-film-item list" data-film={{id}}>
    <img class="trend-film-image" src=https://image.tmdb.org/t/p/w500{{poster_path}} alt="{{original_title}}"
        width="274px" height="398px">

    <h2 class="trend-film-name"> {{original_title}}</h2>
    <div class="trend-film-genre-data-vote">
        <ul class="trend-film-genre">
            {{#each genre_ids}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <span class="trend-film-line"> | </span>
        <span class="trend-film-data"> {{release_date}}</span>
        <span class="trend-film-vote"> {{vote_average}}</span>
    </div>
</li>
{{/each}}